footer {
    background-color: var(--secondaryBackColor);
    color: var(--secondaryTextColor);
    min-height: 142px;
    display:grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.waves {

    background-color: red;
}
/* footer .wave
{
    background: url('../public/pictures/wave.png');
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100px;

    
} */

.social-icon {
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: center;
}

.social-icon-link {
        color: #333; /* Default color */
        transition: color 0.3s ease; /* Smooth transition effect */
        height: fit-content;
        padding: 10px;
}
.social-icon-link:hover {
        color: whitesmoke; /* Default color */

}
