.Itineraries-Page-Wrapper {
    min-height: 100vh;
    background-color: var(--primaryBackColor);
    padding-top: 80px;
    display:grid;
}

.Itineraries-Wrapper {
    /* background-color: aqua; */
    min-height: 45vh;
    margin-bottom: 20px;
    min-width: 90%;
    margin-inline: auto;
    text-align: center;
    border-radius: 36px;
    
}

.Itineraries-Title, .Itinerary-Title {
    color: var(--primaryTextColor);
    font-size: 32px;
    font-weight: bold;
    /* animation-duration: 10ms; */
}
.Itineraries-list {

    /* background-color: var(--thirdBackColor); */
    /* padding-top: 10px; */
    padding:10px;
}
.Itinerary-Link-Wrapper {
    margin-bottom:20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--secondaryBackColor);
    /* color: red; */
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 2px solid var(--secondaryTextColor); /* Add border */
    box-shadow: 0px 0px 10px rgba(215, 20, 20, 0.1); /* Add box shadow for a nice effect */
}
.Itinerary-Link-Wrapper:hover {
    background-color: var(--thirdBackColor);
    transition-duration: 200ms;
}
.TripName {
    /* background-color: yellow; */
    display: flex;
    width: fit-content;
    /* padding: 10px; */
    /* color: red; */
    font-size: 25px;
    align-items: center;
}
.start-end-Wrapper {
    display: table-column;
    padding: 10px;
    /* background-color: red; */
}
.Location-Wrapper {
    display: flexbox;
    align-items: center;
    /* background-color: red; */
    
    /* align-items: center; */
}
.Start-Location-Wrapper, .End-Location-Wrapper {
    padding-inline: 10px;
    /* background-color: blue; */
    width: 100%;
    /* background-color: pink; */
}

.Trip-Itinerary-Wrapper {
     max-width: 960px;
     margin-inline: auto;
     display: grid;
     flex-flow: column;
     align-items: center;
     /* display: flex; */
    }
    .Itinerary-Wrapper {
        min-height: 100vh;
        background-color: var(--primaryBackColor);
        padding-top: 100px;
        justify-content: center; 
        
    }
    .Itinerary-Title {
        /* display: flex; */
        justify-content: center;
        color: var(--primaryTextColor);
    }
    .Top-Wrapper {
        margin-bottom: 20px;
        background-color: var(--secondaryBackColor);
        text-align: center;
        border-radius: 12px;
        border: 2px solid var(--secondaryTextColor); /* Add border */
        box-shadow: 0px 0px 10px rgba(215, 20, 20, 0.1); /* Add box shadow for a nice effect */
    }
    
    .Days-Wrapper {  
        /* background-color: aqua; */
        margin-bottom: 10px;
        
    }
    .Day-Wrapper {
        border-radius: 36px;
        background-color: var(--secondaryBackColor);
        margin-top: 20px;
        font-size: 24px;
        
        
    }
    .Day-title {
        font-size: 32px;
        background-color: var(--secondaryBackColor);
        
    }
    
    .activities-wrapper {
        background-color: var(--thirdBackColor);
    /* background-color: aqua; */
    }
    .activity-wrapper {
        border: 1px solid var(--secondaryTextColor); /* Add border */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }