.main-page-container {
    /* background-color: aqua; */
    background-color: var(--primaryBackColor);
    padding-top: 100px;
    min-height: 100vh;
    /* position: relative; */
}

.survey-container {
    color: var(--primaryTextColor);
    background-color: var(--secondaryBackColor);
    border: 2px solid var(--secondaryTextColor); /* Add border */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    min-height: 45vh;
    margin-bottom: 20px;
    max-width: 960px;
    margin-inline: auto;
    text-align: center;
    border-radius: 36px;
    /* padding-top: 150px;  */
    /* Add padding to create whitespace above */
}
.survey-container h1 {
    font-size: 40px;
    font-weight: bold;
}

.ad-carousel-container {
    position: absolute; 
    /* bottom: 0; */
    margin-top: 20px;
    left: 0;
    width: 100%; 
    height: 25vh;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: aqua;
    background-image: url(https://images.unsplash.com/photo-1453169881280-2f4d42bc57b5?q=80&w=1696&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.quote-container {
    /* font-size: 4rem; */
    font-size: 2rem;
    text-align: center;
    /* background-color: var(--secondaryBackColor); */
    color: var(--primaryTextColor);
    /* padding: 40px; Add padding for spacing */
    margin: 20px auto; /* Center the container horizontally and add some margin */
    border-radius: 10px; /* Add rounded corners */
}

.budget-container {
    font-size: 40px;
    /* background-color: green; */
}
.duration-wrapper {
    /* background-color: rgb(8, 39, 235); */
}
.location-wrapper {
    
    /* background-color: rgb(8, 39, 235); */
}

.button-wrapper {
    margin-top: 10px;
    border-radius: 5px;
    background-color: var(--thirdBackColor);
    color: black;
    width:100px;

}
.button-wrapper:hover {
    background-color: rgb(69, 57, 57);
    color: var(--primaryTextColor);

}